<!-- Clients Section -->
<section class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center mb-2">
                <h2 class="display-4 fw-bold mt-4">Clients</h2>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12">
                <div class="client-carousel-container">
                    <div class="client-carousel">
                        <div class="client-track">
                            <img src="../images/grype-green.png" alt="Grype" class="client-logo" id="carousel-grype">
                            <img src="../images/meatshack-red.png" alt="Mike's Meatshack" class="client-logo" id="carousel-meatshack">
                            <img src="../images/akimbo-red.png" alt="Akimbo" class="client-logo" id="carousel-akimbo">
                            <img src="../images/bellryan-black.png" alt="Bellryan" class="client-logo" id="carousel-bellryan">
                            <img src="../images/namerie-blue.png" alt="Namerie" class="client-logo" id="carousel-namerie">
                            <img src="../images/itm-black.png" alt="ITM" class="client-logo" id="carousel-itm">
                            <img src="../images/citc-black.png" alt="Crying in the Club" class="client-logo" id="carousel-citc">
                            <img src="../images/studious-orange.png" alt="Studious" class="client-logo" id="carousel-studious">
                            <img src="../images/deluxo-black.png" alt="Deluxo" class="client-logo" id="carousel-deluxo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 